.navbar {
    margin: 0 10% 0 10%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #737373;
}

.container-1 {
    font-weight: bold;
    font-size: xx-large;
}

.container-2 {
    display: flex;
    justify-content: space-between;
    font-weight: bold;

}

.nav-links {
    color: #737373;
    font-weight: 700;
    padding: 0 10px 0 10px;
}

.nav-button-1 {
    color: #96BB7C;
    margin-right: 4px;
}

.nav-button-2 {
    background-color: #96BB7C;
    border-radius: 5px;
    font-family: inherit;
}

/* .container-3 {
    
} */